<% if user_signed_in? %>
<h2><%= current_user.name %> さんのページ</h1>
<h3>投稿する</h3>
<%= form_with model: @post, local: true do |f| %>
  <%= f.text_field :content, placeholder: "内容を入力してください"%>
  <%= f.submit "投稿" %>
<% end %>
<h3>投稿一覧</h3>
  <div class="contents">
    <% @posts.each do |post| %>
      <div class="post-user"><%= post.user.name %></div>
        <div class="content">
          <div class="post-content"><%= post.content %></div>
          <div class="post-time"><%= l post.created_at %></div>
        </div>
    <% end %>
    </div>
  </div>
<% end %>