<!DOCTYPE html>
<html>
  <head>
    <title>連絡帳app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="title">
        <div class="logo">
          <%= link_to image_tag('school.png', class: "logo"), "/" %>
        </div>
        <% if user_signed_in? %>
        <div class="login-user">
          ログインしているユーザー： <%= current_user.name %>
        </div>
        <% end %>
      </h1>
      <% if user_signed_in? %>
        <div class="header-menu">
          <ul class="header-left">
            <li><%= link_to "新規投稿", new_post_path %></li>
          </ul>
          <ul class="header-right">
            <li><%= link_to "ホームへ戻る", root_path, class: "home"%></li>
            <li><%= link_to "ログアウト", destroy_user_session_path , method: :delete, class: "logout" %></li>
          </ul>
        </div>
      <% else %>
        <div class="header-menu">
          <ul class="header-left">
            <li>about</li>
          </ul>
          <ul class="header-right">
            <li><%= link_to "新規登録", new_user_registration_path, class: "new-user" %></li>
            <li><%= link_to "ログイン", user_session_path, class: "login" %></li>
          </ul>
        </div>
      <% end %>
    </header>
    <% flash.each do |key, value| %>
    <% key = "info" if key == "notice" %>
    <% key = "danger"  if key == "alert" %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>

    <%= yield %>
  </body>
</html>
