<!DOCTYPE html>
<html>
  <head>
    <title>RenrakuchoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>連絡帳app</h1>
      <% if user_signed_in? %>
        <div>
          <%= link_to "ホームへ戻る", root_path %>
        </div>
        <div>
          <%= link_to "ログアウト", destroy_user_session_path , method: :delete %>
        </div>
      <% else %>
        <div>
          <%= link_to "ログイン", user_session_path %>
        </div>
        <div>
          <%= link_to "新規登録", new_user_registration_path %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
